.github/**
.vscode/**
.vscode-test/**
images/screen*.*
node_modules/**
dist/test/**
dist/web/*.less
dist/web/debug-theme.css
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
